<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
    <div id="producto">
        <h2 th:text="${producto.titulo}">Título</h2>
        Precio: <span th:text="${producto.precio}">0.0</span>
        Cantidad: <span th:text="${producto.cantidad}">0</span>
    </div>
    <ul>
        <li th:each="comentario:${producto.comentarios}">
            <h2>Comentario:<span th:text="${comentario.id}"></span></h2>
            <p th:text="${comentario.texto}">Text</p>
            <p th:text="${comentario.fecha}">Fecha</p>
        </li>
    </ul>
    <a th:href="@{/productos/view/{id}(id=${id})/newComent}"></a>
    <a th:href="@{/productos}">Volver a lista</a>
</body>
</html>