<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de productos</title>
</head>
<body>
    <select name="categoria" id="categoria" onchange="location.href='/productos/categorias/'+this.value">
        <option th:each="categoria:${categorias}"
                th:value="${categoria.getId()}"
                th:text="${categoria.getNombre}"
                th:selected="${categoria.id == selectedCategoriaId}"></option>
    </select>
    <div id="productos">
        <div th:each="producto : ${productos}">
            <h2 th:text="${producto.titulo}">Título</h2>
            Precio: <span th:text="${producto.precio}">0.0</span>
            Cantidad: <span th:text="${producto.cantidad}">0</span>
            <a th:href="@{/productos/del/{id}(id=${producto.id})}">Borrar</a>
            <a th:href="@{/productos/view/{id}(id=${producto.id})}">Ver</a>
            <a th:href="@{/productos/edit/{id}(id=${producto.id})}">Editar</a>
            <a th:href="@{/productos/newComent/{id}(id=${producto.id})}">Añadir comentario</a>
        </div>
    </div>
    <a th:href="@{/productos/new}">Crear producto</a>
    <a th:href="@{/productos/add}">Cargar productos</a>
</body>
</html>